h2,h1{
    font-size: 3rem;
}
h1{color: black;
    background-image: url("img/1440fef5c1ca08344d166f4a5802e75f.gif");
    background-size:100%;
    height: 200px;
    background-position:bottom;
    margin-top: 0;
    background-size: 50%;
}
a,
p{
    font-size: 2rem;
    line-height: 50px;
  
}
#countS,#countL{
    font-size: 3rem;
    font-weight: 700;
    font-family: serif;
}
div{
    text-align: center;
    transition: all 300ms linear 0s
}
button{
    width: 200px;
    height: 50px;
    background-color: cadetblue;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid rgb(52, 61, 32);
}
button:hover{
    background-color: rgb(175, 45, 132);
    transition-duration: 0.6s;

}
main{width: 80%;
    margin:0 auto;
    background-color: cadetblue;
    color: white;
}
.gamePress{
    display: flex;  
    text-align: center;
    flex-direction: column;
    background-color: rgb(92, 70, 89);
    width: 50%;
    margin:0px auto;
    padding-bottom: 50px;
}
#number{
    width: 250px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
   font-size: 1.5rem;
   font-weight: 700;
    background-color: rgb(215, 219, 211);
    margin-bottom: 15px;
}
#leftScore{
    width: 40%;
    height: 300px;
    background-color: rgb(89, 124, 108);
    border-radius: 25px;
    border-style:groove;
    border: 5px solid white;
    box-shadow: 10px 8px rgb(80, 128, 102);
}
#rightScore{
    width: 40%;
    height: 300px;  
    background-color: blueviolet; 
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 10px 8px rgb(179, 62, 173);
    }   
    #rightScore:hover,#leftScore:hover{
        background-color: #b81b86; /* Green */
        transition-duration: 0.5s;
    }
    
    .gameScore{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 30px;
    }
    #gameButton,
    #newGame{
        font-size: 1.5rem;
        padding: 10px;}
footer{
    background-color: rgb(88, 113, 124);
    color: white;
    text-align: center;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    font-size: 1.5rem;
}