body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
#myCanvas{
    width: 100%;
    height: 100%;
}
#mouse-circle {
    position: absolute;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 1px solid #0f1c64;
    border-radius: 50%;
    pointer-events: none;
}
.promiseAll{
    background-color: coral;
    width: 50%;
    margin: 0 auto;
    padding-left: 10rem ;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
   
}
.products{
    background-color: plum;
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
}
.search{
    width: 60%;
    margin:2rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input{
    display: block;
    margin-right: 2rem;
}